@model SistemaWebTransporteMVC.Models.Auto
@{
    ViewBag.Title = "Create";
}

<h2>Crear un auto</h2>
@using (Html.BeginForm("Create", "Auto", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Modelo)
        @Html.EditorFor(model => model.Modelo)
        @Html.ValidationMessageFor(model => model.Modelo)
    </div>

    <div>
        @Html.LabelFor(model => model.Marca)
        @Html.EditorFor(model => model.Marca)
        @Html.ValidationMessageFor(model => model.Marca)
    </div>

    <div>
        @Html.LabelFor(model => model.Anio)
        @Html.EditorFor(model => model.Anio)
        @Html.ValidationMessageFor(model => model.Anio)
    </div>

    <div>
        @Html.LabelFor(model => model.Color)
        @Html.EditorFor(model => model.Color)
        @Html.ValidationMessageFor(model => model.Color)
    </div>

    <input type="Submit" value="Crear" class="button-create"/>

    @Html.ActionLink("Volver al Inicio", "Index", "Auto")
}
