@model WebElReyCan.Models.Turno
@{
    ViewBag.Title = "Create";
}

<h1>Nuevo Turno</h1>
@using (Html.BeginForm("Create", "Turno", FormMethod.Post))
{
    <div class="group-form">
        @Html.LabelFor(model => model.NombreMascota)
        @Html.EditorFor(model => model.NombreMascota)
        @Html.ValidationMessageFor(model => model.NombreMascota)
    </div>

    <div class="group-form">
        @Html.LabelFor(model => model.NombreDueño)
        @Html.EditorFor(model => model.NombreDueño)
        @Html.ValidationMessageFor(model => model.NombreDueño)
    </div>

    <div class="group-form">
        @Html.LabelFor(model => model.Raza)
        @Html.EditorFor(model => model.Raza)
        @Html.ValidationMessageFor(model => model.Raza)
    </div>
    <div class="group-form">
        @Html.LabelFor(model => model.Edad)
        @Html.EditorFor(model => model.Edad)
        @Html.ValidationMessageFor(model => model.Edad)
    </div>
    <div class="group-form">
        @Html.LabelFor(model => model.FechaIngreso)
        @Html.EditorFor(model => model.FechaIngreso)
        @Html.ValidationMessageFor(model => model.FechaIngreso)
    </div>
    <div class="group-form">
        @Html.LabelFor(model => model.Celular)
        @Html.EditorFor(model => model.Celular)
        @Html.ValidationMessageFor(model => model.Celular)
    </div>



    <input type="Submit" value="Crear" class="button-create" />

    @Html.ActionLink("Volver al Inicio", "Index", "Turno")
}


